/*---
layout: full-page-background.hbs
permalink: 404.html
title: Outta Bounds - Not Found
head: |
  <style type="text/css">
    #page-background {
      background: url('images/Team.jpg') no-repeat fixed;
      background-size: cover;
      background-position: top center;
      opacity: 0;
    }

    #welcome-banner {
      position: absolute;

      top: 50%;
      transform: translateY(-50%);
    }
  </style>
---*/

<div id="welcome" class="fill-screen">
  <div id="welcome-banner" class="banner">
    <div>
      <h2>Page Not Found</h2>
      <p>
        <strong>Sorry.</strong> The page you're looking for could not be found.
      </p>
    </div>
  </div>
</div>
