/*---
layout: full-page-background.hbs
permalink: team.html
title: Outta Bounds Racing Team
head: |
  <style>
    #page-background {
      background: url('images/PineappleSprint.jpg') no-repeat;
      background-size: cover;
      background-position: top center;
      opacity: 0;
      z-index: -1;
    }

    .group-ride-route-map {
      margin: 10px 0 10px 0;
      width: calc(100% - 20px);
    }

    .sponsor-table {
      border-spacing: 20px;
      border-collapse: separate;
      margin-left: auto;
      margin-right: auto;

      max-width: calc(100% - 20px);
    }

    .sponsor-table td {
      padding: 20px;
      text-align: center;
      vertical-align: middle;
    }

    .sponsor-table td img {
      max-width: 100%;
      height: auto;
    }

    .floating-section {
      max-width: 800px;
    }

    #team-photos {
      padding: 10px;
    }

    #team-photos img {
      max-width: 100%;
      height: auto;
    }
  </style>
---*/

<div class="heading">
  <h1 class="center-heading title mobile-right-align">Outta Bounds Racing Team</h1>
</div>
<div class="sections">
  <div id="intro" class="floating-section">
    <p>
      At Outta Bounds we like to play bikes. That means we love to be in the saddle, on the road or
      in the mountains. We ride hard and work to be better cyclists, but first and foremost we have
      fun doing it. As a team we ride for each other, strive to give back to the community, and stay
      true to the spirit of Aloha.
    </p>
    <p><span style="font-size: larger">🍻</span> Cheers!</p>
  </div>
  <div class="floating-section">
    <a href="#group_rides">Group Rides</a> | <a href="#visiting">Visiting Oahu?</a> | <a href="#join">Joining the Team</a> | <a href="#sponsors">Thank You to our Sponsors!</a>
  </div>
  <div id="team-photos" class="floating-section">
    <a href="./images/social/perimeter_ride.jpg">
      <img src="./images/social/perimeter_ride.jpg"
           alt="The Outta Bounds Team riding around Oahu."
           width="780"
           height="1040" />
    </a>
  </div>
  <div class="floating-section">
    <h2 id="group_rides">Group Rides</h2>
    <p>
      We have regular no-drop group rides every week.
    </p>
    <h3><a id="pau_hana"></a>Pau Hana Wednesday - 35 miles</h3>
    <ul>
      <li><strong>When:</strong> Every Wednesday @ 4:30 p.m.</li>
      <li>
        <strong>Where:</strong> Starting from "Triangle Park" (Fort Ruger Park), east of Diamond
        Head, we roll out at 4:30 p.m. sharp.
      </li>
      <li>
        <strong>What:</strong> We ride from Diamond Head out to Hanauma Bay, Sandy's Beach, or
        Makapu'u Point depending on the time of year and the weather. The ride is fast paced
        (18+ mph), but with a consistent route, regular regroup points, and a designated sweeper to
        ensure nobody gets left behind. On the way back we detour around Hawaii Kai, Nui Valley, and
        Hind Valley. We regroup at the Aloha Gas Station at Waialae and Kealaolu before heading back
        to Triangle Park for some post ride refreshments.
      </li>
      <li>
        <strong>Route:</strong>
        <a href="https://www.strava.com/routes/2861365162780483670">
          <img src="images/Pau Hana Route.png"
               alt="Pau Hana Route Map"
               class="group-ride-route-map" />
        </a>
        <ul>
          <li>East on Diamond Head Rd. / Kahala Ave.</li>
          <li>Left at the stop sign @ Kealaolu Rd.</li>
          <li>Regroup at the Aloha Gas Station on Waialae Ave.</li>
          <li>East on Kalaniana'ole Hwy.</li>
          <li>Regroup at the East end of Maunalua Beach Park.</li>
          <li>Continue East on Kalaniana'ole Hwy.</li>
          <li>Right onto Portlock</li>
          <li>Left onto Lawai St. to Nawiliwili St.</li>
          <li>Right back onto Kalaniana'ole Hwy.</li>
          <li>Regroup at the entrance to Hanauma Bay</li>
          <li>Weather and light permitting (announced at Hanauma):
            <ul>
              <li>Continue out to either Sandy's Beach, or Makapu'u point.</li>
              <li>Return via Kealahou St. and Hawaii Kai Dr.</li>
            </ul>
          </li>
          <li>Circuit around Kuapa Pond on Hawaii Kai Dr. & Kawaihae St.</li>
          <li>West Kalaniana'ole Hwy.</li>
          <li>Valleys:
            <ul>
              <li>Niu Valley</li>
              <li>Aina Hainai (Hind Drive)</li>
            </ul>
          </li>
          <li>U-Turn at Waialae &amp; Kealaolu Rd.</li>
          <li>Regroup at the Aloha Gas Station.</li>
          <li>Back to Triangle Park via Kealaolu & Kahala Ave.</li>
        </ul>
      </li>
    </ul>
    <h3>Ohana MTB Thursdays</h3>
    <p>
      Thursdays at 5:00 p.m. Outta Bounds rides the Ohana trail system from the top of Old
      Kalanianaʻole Rd. The ride last about 1½ hours, the route varies, and there is a mix of
      technical and cross country sections.
    </p>
    <h3>Saturday Morning Ride - 50+ miles</h3>
    <p>
      Saturday morning rides vary in route and are weather dependent. To find out more join our
      <a href="https://www.facebook.com/groups/390840391313041/">Facebook Group</a>.
    </p>
    <h3>Sundays</h3>
    <p>
      There is often a group from Outta Bounds at the
      <a href="https://sundaymorningcoffe.wixsite.com/website">Sunday Morning Coffee Jam</a>,
      which we highly recommend. We also regularly do another mountain bike ride on Sundays. Details
      are announced on our Facebook group.
    </p>
  </div>
  <div class="floating-section">
    <h2 id="visiting">Visiting Oahu?</h2>
    <p>
      We love to ride with our friends from the mainland. If you're visiting, whether you're not
      sure about the best routes, prefer a group to share the work, or just want to ride with a
      social bunch who enjoy a cold one after the ride, come ride with us on Wednesday or hit us up
      on Facebook to find out what's going on.
    </p>
  </div>
  <div class="floating-section">
    <h2 id="join">Join the Team</h2>
    <p>
      Joining the Outta Bounds Racing Team is easy: Just start riding with us regularly and
      competing in races in Hawaii. If you want to part of the team, and you share our passion for
      cycling and sense of camaraderie, you'll be wearing our jersey in no time.
    </p>
  </div>
  <div class="floating-section">
    <h2 id="sponsors">Thank You to Our Sponsors!</h2>
    <table class="sponsor-table">
      <tbody>
      <tr>
        <td>
          <a href="https://www.facebook.com/WindwardEnduranceTraining/">
            <img src="images/WindwardEnduranceTraining.png"
                 alt="Aloha Friday Wheelworks / Windward Endurance Training"
                 width="256"
                 height="256" />
          </a>
        </td>
        <td>
          <a href="https://kalapawaimarket.com/">
            <img src="images/Kalapawai.svg"
                 alt="Kalapawai Market"
                 width="256"
                 height="182" />
          </a>
        </td>
      </tr>
      <tr>
        <td>
          <a href="mailto:support@outtaboundshawaii.com">Your Logo Here...</a>
        </td>
      </tr>
      </tbody>
    </table>
    <p>
      Organizing bike races is a time-consuming and expensive endeavor, and we could use your
      support! If you're an individual we always need volunteers on race day. If you represent a
      business we could use sponsorships for individual races to help us cover expenses like road
      safety equipment, police escorts, and supplies for rider support. If you're interested in
      supporting the team or our races please email us at
      <a href="mailto:support@outtaboundshawaii.com">support@outtaboundshawaii.com</a>.
    </p>
  </div>
</div>
