/*---
layout: full-page-background.hbs
permalink: tours.html
title: Outta Bounds Bike Tours
head: |
  <style>
    #page-background {
      background: url('images/Haleakala.jpg') no-repeat;
      background-size: cover;
      background-position: top center;
      opacity: 0;
      z-index: -1;
    }

    .floating-section {
      max-width: 800px;
      margin-left: auto;
      margin-right: auto;
    }

    @media only screen and (max-width: 879px) {
      .floating-section {
        margin-left: 32px;
        margin-right: 32px;
      }
    }

    #photo-gallery {
      display: flex;
      flex-direction: row;
      flex-flow: wrap;
      padding-left: 0;
      padding-bottom: 0;
      padding-right: 10px;
    }

    #photo-gallery .photo-panel {
      overflow: hidden;
      border: 4px solid black;
      margin-left: 10px;
      margin-bottom: 10px;
    }

    #photo-gallery .stack {
      display: flex;
      flex-direction: column;
      width: 55%;
    }

    .photo1 {
      width: calc(45% - 18px);
      height: 0;
      padding-bottom: calc(67.7% + 18px);
    }

    .photo1 img {
      position: relative;
      margin-top: -36%;
      left: -30%;
      width: 157%;
      height: auto;
    }

    .photo2 {
      width: calc(34% - 18px);
      height: 0;
      padding-bottom: 32.9%;
    }

    .photo2 img {
      position: relative;
      margin-top: -18%;
      left: -51.6%;
      width: 202%;
      height: auto;
    }

    .photo3 {
      width: calc(100% - 18px);
      height: 0;
      padding-bottom: 61%;
    }

    .photo3 img {
      position: relative;
      left: -15%;
      margin-top: -14%;
      width: 126%;
      height: auto;
    }

    .photo4 {
      width: calc(66% - 18px);
      height: 0;
      padding-bottom: 32.9%;
    }

    .photo4 img {
      position: relative;
      margin-top: -6.2%;
      left: -4%;
      width: 129%;
      height: auto;
    }

    .photo5 {
      width: calc(100% - 18px);
      height: 0;
      padding-bottom: 62.2%;
    }

    .photo5 img {
      position: relative;
      width: 110%;
      height: auto;
    }
  </style>
---*/

<div class="heading">
  <h1 class="center-heading title mobile-right-align">Outta Bounds Bike Tours</h1>
</div>
<div class="sections">
  <div id="intro" class="floating-section">
    <p>
      Outta Bounds offers bicycle tours for riders of all persuasions. We have some of the best
      guides on the island who will custom taylor a ride to your desire. Whether you want an easy
      spin to see the historic sites of Honolulu, a long distance tour of our beautiful coastline,
      or to climb the best hills on Oahu, let us be your guide on wheels. We love pedaling bikes in
      Paradise, and spreading the Aloha.
      Outta Bounds Hawaii offers bicycle tours for riders of all persuasions. We have some of the
      best guides on the island who will custom tailor a ride to your desires. Whether you want an
      easy spin to see the historic sites of Honolulu, a long distance tour of our beautiful
      coastline, or to climb the best hills on Oahu, let us be your guide on wheels. We love
      pedaling bikes in Paradise, spreading the Aloha and playing bikes!
    </p>
  </div>
  <div id="photo-gallery" class="floating-section">
    <div class="photo-panel photo2"><a href="./images/social/grouptour2.jpg"><img src="./images/social/grouptour2_small.jpg" width="507" height="338" alt="Tantalus Lookout" /></a></div>
    <div class="photo-panel photo4"><a href="./images/social/grouptour4.jpg"><img src="./images/social/grouptour4_small.jpg" width="650" height="363" alt="Sweeping Curves" /></a></div>
    <div class="stack">
      <div class="photo-panel photo3"><a href="./images/social/grouptour3.jpg"><img src="./images/social/grouptour3_small.jpg" width="525" height="350" alt="Group Tour" /></a></div>
      <div class="photo-panel photo5"><a href="./images/social/grouptour5.jpg"><img src="./images/social/grouptour5_small.jpg" width="459" height="306" alt="Hawaiian Refreshments" /></a></div>
    </div>
    <div class="photo-panel photo1"><a href="./images/social/grouptour1.jpg"><img src="./images/social/grouptour1_small.jpg" width="530" height="794" alt="Celebration" /></a></div>
  </div>
  <div class="floating-section">
    <h2>Contact Us</h2>
    <p>
      Contact us today to make arrangements for your personalized bike tour experience
    </p>
    <ul>
      <li>
        <strong>Call Carl: </strong> <a href="tel:+1-808-375-0979">(808) 375-0979</a>
      </li>
      <li>
        <strong>Email: </strong>
        <a href="mailto:outtaboundshawaii@gmail.com">outtaboundshawaii@gmail.com</a>
      </li>
    </ul>
  </div>
</div>
