/*---
layout: full-page-background.hbs
permalink: races/castle-to-hanauma.html
title: Castle to Hanauma Bay TT
head: |
  <style type="text/css">
    #page-background {
      background: url('../images/CastleToHanauma.jpg') no-repeat;
      background-size: cover;
      background-position: top center;
      opacity: 0;
      z-index: -1;
    }

    #course-map {
      max-height: 80vh;
    }
  </style>
---*/

<div>
  <h4 class="center-heading title mobile-right-align"><a href="index.html">Races</a> ></h4>
  <h1 class="center-heading title mobile-right-align">Castle to Hanauma Bay TT</h1>
</div>
<div class="sections">
  <div id="covid-19" class="floating-section">
    <h2>COVID-19 UPDATE: Virtual TT 2021</h2>
    <p>
      Due to ongoing restrictions related to COVID-19, we will be holding the Castle to Hanauma Bay TT as a one day virtual challenge. This event is sanctioned by USAC and will be part of the year long ASBRA 2021 Point Series.
    </p>
  </div>
  <div id="intro" class="floating-section">
    <h2>Saturday March 6th 2021</h2>
    <h3>Course Description</h3>
    <p>
      The course is 20K in length starting at Maunawili Elementary School and finishing at Hanauma Bay State Park, racing on Kalaniana’ole Highway <strong>except through Waimanalo where the course will use back roads to avoid high traffic intersections</strong>. For full course details see the <a href="https://www.strava.com/segments/23101100">Castle to Hanauma Alternate Route Strava Segment</a>. To compete simply ride the course on Saturday March 6th between 6:00 A.M. and 3:00 P.M., record your ride with a GPS tracker, and either register with us using Strava, or upload you ride data (details to be provided). While there will not be any marshals on course to enforce TT rules, in the spirit of the event we encourage all riders to compete <strong>solo</strong> and avoid drafting. <strong>IMPORTANT:</strong> this ride is completely unsupported and you must follow the rules of the road and observe all traffic signage. Please watch out for pedestrians, cars, stray dogs, etc. Stay safe and healthy out there.</strong>
    </p>
    <a href="../images/Castle%20to%20Hanauma%20TT%20Map%20Alternate.png">
      <img id="course-map"
           src="../images/Castle%20to%20Hanauma%20TT%20Map%20Alternate.png"
           width="540" height="573"
           alt="Castle to Hanauma Course Map"
           class="center-block fit-width" />
    </a>
  </div>
  <div id="registration" class="floating-section">
    <h2>Registration (2021)</h2>
    <p>Registration is $10 for all participants, and no USAC License is required. Registration is available Online @ <a href="https://www.bikereg.com/castle-to-hanauma-2021" target="">bikereg.com</a> (through the day of the event: March 6th 2021)</p>
    <p><em>
      All participants must sign the USA Cycling Event Release form.<br />
    </em></p>
  </div>
  <div id="parking" class="floating-section">
    <h2>Parking [IMPORTANT]</h2>
    <p>As with previous years we want the be respectful of the small residential neighborhood near our start line. Nobody likes being woken up by slamming doors and loud voices at 6 in the morning when they don't have a reason to be awake. <strong>This year we're going to try and do a better job of making sure we don't disturb the neighborhood.</strong> To that end here are the RULES:</p>
    <ul>
      <li>NO PARKING in the Olomana Community (between Maunawili Elementary and the intersection of Kalanianaole Highway and Kailua Rd.)</li>
      <li>NO PARKING at Maunawili Elementary. This is Department of Education property, not public parking.</li>
      <li><strong>NEW: </strong> Parking is now available at <strong>Kailua High School</strong>!</li>
      <li>Parking is also in the commercial area of downtown Kailua in the vicinity of Kalapawai Cafe & Deli</li>
      <li>Wherever you park, <strong>be respectful</strong>. Don't slam your doors, don't talk loudly, and don't play loud music. Remember it is early in the morning, and not everybody has a 20k TT they're excited to get on with.</li>
      <li>Malama Aina. Leave any place you visit in better condition than you found it.</li>
    </ul>
    <a href="../images/Olomana%20Neighborhood%20Map.png">
      <img id="neighborhood-map"
           src="../images/Olomana%20Neighborhood%20Map.png"
           width="528" height="560"
           alt="Olomana Neighborhood Map"
           class="center-block fit-width" />
    </a>

  </div>
  <div id="race-schedule" class="floating-section">
    <h2>Race Day Schedule (2021)</h2>
    <h3>Saturday March 6th 2021</h3>
    <ul>
      <li>6:00 A.M. Challenge Window Opens</li>
      <li>3:00 P.M. Challenge Window Closes: You must have completed the segment by this time.</li>
      <li>Please have your ride data uploaded to Strava or our website by 4:00 P.M.</li>
      <li>5:00 P.M. Pau Hana and Leaderboard Announcement via Google Meet (link to be posted).</li>
    </ul>
  </div>
  <div id="categories" class="floating-section">
    <h2>Categories</h2>
    <table>
      <thead>
      <tr><td>Title</td><td>Gender</td><td>Age Group</td></tr>
      </thead>
      <tbody>
      <tr><td>Juniors</td><td>Men</td><td>16-18</td></tr>
      <tr><td>U23</td><td>Men</td><td>19-22</td></tr>
      <tr><td>Senior</td><td>Men</td><td>23-34</td></tr>
      <tr><td>Master</td><td>Men</td><td>35-49</td></tr>
      <tr><td>Golden Master</td><td>Men</td><td>50-59</td></tr>
      <tr><td>Golden Master</td><td>Men</td><td>60+</td></tr>
      <tr><td>Juniors</td><td>Women</td><td>16-18</td></tr>
      <tr><td>U23</td><td>Women</td><td>19-22</td></tr>
      <tr><td>Senior</td><td>Women</td><td>23-34</td></tr>
      <tr><td>Master</td><td>Women</td><td>35-49</td></tr>
      <tr><td>Golden Master</td><td>Women</td><td>50-59</td></tr>
      <tr><td>Golden Master</td><td>Women</td><td>60+</td></tr>
      </tbody>
    </table>
  </div>
  <div id="awards" class="floating-section">
    <h2>Awards</h2>
    <p>No cash prizes. Gift cards will be awarded to the top three places in each category.</p>
  </div>
</div>
