/*---
layout: full-page-background.hbs
permalink: races/castle-to-hanauma.html
title: Castle to Hanauma Bay TT
head: |
  <style>
    #page-background {
      background: url('../images/CastleToHanauma.jpg') no-repeat;
      background-size: cover;
      background-position: top center;
      opacity: 0;
      z-index: -1;
    }

    #course-map {
      max-height: 80vh;
    }
  </style>
---*/

<div>
  <h4 class="center-heading title mobile-right-align"><a href="index.html">Races and Challenges</a> ></h4>
  <h1 class="center-heading title mobile-right-align">Castle to Hanauma Bay Virtual TT</h1>
</div>
<div class="sections">
  <div id="intro" class="floating-section">
    <h2>Sunday March 19th 2023 <em>[UPDATED]</em></h2>
    <h3>UPDATE: This year's event will use virtual timing due to permitting difficulties.</h3>
    <p>
      We will be timing this year's Castle to Hanauma Bay via GPS data rather than via live, in-person timing. We apologize for having to go this route, but it could not be helped. To ensure a competitive and safe event we will be using the following format:
    </p>
    <ul>
      <li>We will be using the alternate course <strong>which includes the Waimanalo back roads.</strong>
        <ul>
          <li>This is to ensure rider safety and avoid the challenge segment proceeding straight through any controlled intersections.</li>
          <li>When you make right turns at controlled intersections (stop signs or stop lights) you <strong>must</strong> obey the rules of the road and yield right of way as appropriate!</li>
        </ul>
      </li>
      <li>Results will be based on <strong>moving time</strong>. so if you are stopped due to traffic your result will not be impacted.</li>
      <li>You will be assigned a suggested start time via email.
        <ul>
          <li>This is just a suggestion, your results will be based on actual moving time.</li>
          <li>However, starting at your assigned time will help ensure that we don't have large groups of riders on the same part of the course at the same time.</li>
        </ul>
      </li>
      <li>We hope that you will observe Time Trial rules and ride a bike appropriate for your registered category, but this will be based on the honor system.</li>
      <li>This is a segment challenge, not a race. Please follow the rules of the road and be aware that you are taking part at your own risk.</li>
    </ul>
    <h3>Course Description</h3>
    <p>
      The course is slightly over 20K in length starting at Maunawili Elementary School and finishing at Hanauma Bay State Park, riding on Kalaniana’ole Highway and back roads. Time Trial rules in effect (by honor system).
    </p>
    <a href="../images/Castle%20to%20Hanauma%20TT%20Map.png">
      <img id="course-map"
           src="../images/Castle%20to%20Hanauma%20TT%20Map%20Alternate.png"
           width="540" height="573"
           alt="Castle to Hanauma Course Map"
           class="center-block fit-width" />
    </a>
    <p>
      Waimanalo Back Roads Details:
    </p>
    <ul>
      <li>Right turn on Kumuhau St.</li>
      <li>Left turn at the T intersection with Waikupanaha St. [STOP SIGN]</li>
      <li>Left turn onto Ahiki St.</li>
      <li>Right turn onto Hihimanu St. [STOP SIGN]</li>
      <li>Right turn onto Oluolu St. [STOP SIGN]</li>
      <li>Right turn onto Kalaniana’ole Hwy. [STOP SIGN]</li>
    </ul>
  </div>
  <div id="registration" class="floating-section">
    <h2>Registration</h2>
    <p>Registration is $20 for adults and $10 for juniors (9 - 18). Registration is available Online @ <a href="https://www.bikereg.com/castle-to-hanauma-bay-tt" target="_blank">bikereg.com</a> (through 10am on the day of the event).</p>
    <p><em>
      All participants must sign the USA Cycling Event Release form.<br />
    </em></p>
  </div>
  <div id="parking" class="floating-section">
    <h2>Parking [IMPORTANT]</h2>
    <p>As with previous years we want to be respectful of the small residential neighborhood near our starting line. Nobody likes being woken up by slamming doors and loud voices at 6 in the morning when they don't have a reason to be awake. <strong>This year we're going to try and do a better job of making sure we don't disturb the neighborhood.</strong> To that end here are the RULES:</p>
    <ul>
      <li>NO PARKING in the Olomana Community (between Maunawili Elementary and the intersection of Kalanianaole Highway and Kailua Rd.)</li>
      <li>NO PARKING at Maunawili Elementary. This is Department of Education property, not public parking.</li>
      <li>Parking is available in the commercial area of downtown Kailua in the vicinity of Kalapawai Cafe & Deli.</li>
      <li>Wherever you park, <strong>be respectful</strong>. Don't slam your doors, don't talk loudly, and don't play loud music. Remember it is early in the morning, and not everybody has a 20k TT they're excited to get on with.</li>
      <li>Malama Aina. Leave any place you visit in better condition than you found it.</li>
    </ul>
    <a href="../images/Olomana%20Neighborhood%20Map.png">
      <img id="neighborhood-map"
           src="../images/Olomana%20Neighborhood%20Map.png"
           width="528" height="560"
           alt="Olomana Neighborhood Map"
           class="center-block fit-width" />
    </a>

  </div>
  <div id="race-schedule" class="floating-section">
    <h2>Event Day Schedule</h2>
    <h3>Sunday March 19th 2023</h3>
    <ul>
      <li>6:45 A.M. Challenge Window Opens. (do not start your effort before this time or your results will not be recorded)</li>
      <li>7:00 A.M. First Suggested Rider Start Time.</li>
      <li>10:00 A.M. Challenge Window Closes.</li>
      <li>11:00 A.M. Award Ceremony after ride at Kalapawai Market (at Kailua rd and Hamakua dr.).</li>
    </ul>
  </div>
  <div id="categories" class="floating-section">
    <h2>Categories</h2>
    <table>
      <thead>
      <tr><td>Title</td><td>Gender</td><td>Age Group</td></tr>
      </thead>
      <tbody>
      <tr>
        <td colspan="3">
          TT Bike Categories
        </td>
      </tr>
      <tr><td>Juniors</td><td>Men</td><td>16-18</td></tr>
      <tr><td>U23</td><td>Men</td><td>19-22</td></tr>
      <tr><td>Senior</td><td>Men</td><td>23-34</td></tr>
      <tr><td>Master</td><td>Men</td><td>35-49</td></tr>
      <tr><td>Golden Master</td><td>Men</td><td>50-59</td></tr>
      <tr><td>Golden Master</td><td>Men</td><td>60-69</td></tr>
      <tr><td>Golden Master</td><td>Men</td><td>70+</td></tr>
      <tr><td>Juniors</td><td>Women</td><td>16-18</td></tr>
      <tr><td>U23</td><td>Women</td><td>19-22</td></tr>
      <tr><td>Senior</td><td>Women</td><td>23-34</td></tr>
      <tr><td>Master</td><td>Women</td><td>35-49</td></tr>
      <tr><td>Golden Master</td><td>Women</td><td>50-59</td></tr>
      <tr><td>Golden Master</td><td>Women</td><td>60-69</td></tr>
      <tr><td>Golden Master</td><td>Women</td><td>70+</td></tr>
      <tr>
        <td colspan="3">
          Other Categories
        </td>
      </tr>
      <tr><td>Road Bike*</td><td>Men</td><td>All Ages</td></tr>
      <tr><td>Road Bike</td><td>Women</td><td>All Ages</td></tr>
      <tr><td>Single Speed/Fixed Gear</td><td>All</td><td>All Ages</td></tr>
      <tr><td>Paracyclists</td><td>All</td><td>All Ages</td></tr>
      <tr><td>Recumbents/Trikes/Other</td><td>All</td><td>All Ages</td></tr>
      <tr><td>Tandem Bikes</td><td>All</td><td>All Ages</td></tr>
      </tbody>
    </table>
    <small><em>* Road Bike - Means no TT bars and no disk wheels.</em></small>
  </div>
  <div id="awards" class="floating-section">
    <h2>Awards</h2>
    <p>No cash prizes. Gift cards will be awarded to first place in each category.</p>
  </div>
</div>
