/*---
layout: full-page-background.hbs
permalink: races/castle-to-hanauma.html
title: Castle to Hanauma Bay TT
head: |
  <style>
    #page-background {
      background: url('../images/CastleToHanauma.jpg') no-repeat;
      background-size: cover;
      background-position: top center;
      opacity: 0;
      z-index: -1;
    }

    #course-map {
      max-height: 80vh;
    }
  </style>
---*/

<div>
  <h4 class="center-heading title mobile-right-align"><a href="index.html">Races</a> ></h4>
  <h1 class="center-heading title mobile-right-align">Castle to Hanauma Bay TT</h1>
</div>
<div class="sections">
  <div id="intro" class="floating-section">
    <h2>Sunday April 23rd 2023</h2>
    <h3>Course Description</h3>
    <p>
      The course is 20K in length starting at Maunawili Elementary School and finishing at Hanauma Bay State Park, racing on Kalaniana’ole Highway throughout. Time Trial rules in effect.
    </p>
    <a href="../images/Castle%20to%20Hanauma%20TT%20Map.png">
      <img id="course-map"
           src="../images/Castle%20to%20Hanauma%20TT%20Map.png"
           width="540" height="573"
           alt="Castle to Hanauma Course Map"
           class="center-block fit-width" />
    </a>
  </div>
  <div id="registration" class="floating-section">
    <h2>Registration</h2>
    <p>Registration is $50 for adults and $25 for juniors (9 - 18) (plus a $15 USA Cycling one-day license fee for those riders without annual license). Registration is available Online @ <a href="https://www.bikereg.com/castle-to-hanauma-bay-tt" target="_blank">bikereg.com</a> (through 5pm on the Saturday before the event).</p>
    <h3>Packet Pickup</h3>
    <p>
      Saturday April 23rd, 12 P.M. - 3 P.M. @ Fort Ruger Park (aka Triangle Park)
    </p>
    <p><em>
      All participants must sign the USA Cycling Event Release form.<br />
    </em></p>
  </div>
  <div id="parking" class="floating-section">
    <h2>Parking [IMPORTANT]</h2>
    <p>As with previous years we want to be respectful of the small residential neighborhood near our starting line. Nobody likes being woken up by slamming doors and loud voices at 6 in the morning when they don't have a reason to be awake. <strong>This year we're going to try and do a better job of making sure we don't disturb the neighborhood.</strong> To that end here are the RULES:</p>
    <ul>
      <li>NO PARKING in the Olomana Community (between Maunawili Elementary and the intersection of Kalanianaole Highway and Kailua Rd.)</li>
      <li>NO PARKING at Maunawili Elementary. This is Department of Education property, not public parking.</li>
      <li>Parking is available in the commercial area of downtown Kailua in the vicinity of Kalapawai Cafe & Deli.</li>
      <li>Wherever you park, <strong>be respectful</strong>. Don't slam your doors, don't talk loudly, and don't play loud music. Remember it is early in the morning, and not everybody has a 20k TT they're excited to get on with.</li>
      <li>Malama Aina. Leave any place you visit in better condition than you found it.</li>
    </ul>
    <a href="../images/Olomana%20Neighborhood%20Map.png">
      <img id="neighborhood-map"
           src="../images/Olomana%20Neighborhood%20Map.png"
           width="528" height="560"
           alt="Olomana Neighborhood Map"
           class="center-block fit-width" />
    </a>

  </div>
  <div id="race-schedule" class="floating-section">
    <h2>Race Day Schedule</h2>
    <h3>Sunday April 23rd 2023</h3>
    <ul>
      <li>6:00 A.M. Check-in & Late Registration Opens at Maunawili Elementary School.</li>
      <li>6:30 A.M. Check-in & Registration Closes.</li>
      <li>7:00 A.M. First Rider Rollout.</li>
      <li>Award Ceremony after race at Kalapawai Market (at Kailua rd and Hamakua dr.).</li>
    </ul>
  </div>
  <div id="categories" class="floating-section">
    <h2>Categories</h2>
    <table>
      <thead>
      <tr><td>Title</td><td>Gender</td><td>Age Group</td></tr>
      </thead>
      <tbody>
      <tr>
        <td colspan="3">
          TT Bike Categories
        </td>
      </tr>
      <tr><td>Juniors</td><td>Men</td><td>16-18</td></tr>
      <tr><td>U23</td><td>Men</td><td>19-22</td></tr>
      <tr><td>Senior</td><td>Men</td><td>23-34</td></tr>
      <tr><td>Master</td><td>Men</td><td>35-49</td></tr>
      <tr><td>Golden Master</td><td>Men</td><td>50-59</td></tr>
      <tr><td>Golden Master</td><td>Men</td><td>60-69</td></tr>
      <tr><td>Golden Master</td><td>Men</td><td>70+</td></tr>
      <tr><td>Juniors</td><td>Women</td><td>16-18</td></tr>
      <tr><td>U23</td><td>Women</td><td>19-22</td></tr>
      <tr><td>Senior</td><td>Women</td><td>23-34</td></tr>
      <tr><td>Master</td><td>Women</td><td>35-49</td></tr>
      <tr><td>Golden Master</td><td>Women</td><td>50-59</td></tr>
      <tr><td>Golden Master</td><td>Women</td><td>60-69</td></tr>
      <tr><td>Golden Master</td><td>Women</td><td>70+</td></tr>
      <tr>
        <td colspan="3">
          Other Categories
        </td>
      </tr>
      <tr><td>Road Bike</td><td>Men</td><td>All Ages</td></tr>
      <tr><td>Road Bike</td><td>Women</td><td>All Ages</td></tr>
      <tr><td>Single Speed/Fixed Gear</td><td>All</td><td>All Ages</td></tr>
      <tr><td>Paracyclists</td><td>All</td><td>All Ages</td></tr>
      <tr><td>Recumbents/Trikes/Other</td><td>All</td><td>All Ages</td></tr>
      <tr><td>Tandem Bikes</td><td>All</td><td>All Ages</td></tr>
      </tbody>
    </table>
  </div>
  <div id="awards" class="floating-section">
    <h2>Awards</h2>
    <p>No cash prizes. Gift cards will be awarded to first place in each category.</p>
  </div>
</div>
