/*---
layout: full-page-background.hbs
permalink: races/dick-evans-memorial-road-race.html
title: Dick Evans Memorial Road Race
head: |
  <style>
    #page-background {
      background: url('../images/DickEvans.jpg') no-repeat;
      background-size: cover;
      background-position: top center;
      opacity: 0;
      z-index: -1;
    }

    #course-map {
      max-height: 80vh;
    }
  </style>
---*/

<div>
  <h4 class="center-heading title mobile-right-align"><a href="index.html">Races</a> ></h4>
  <h1 class="center-heading title mobile-right-align">2021 Dick Evans Memorial Road <strike>Race</strike> Ride</h1>
</div>
<div class="sections">
  <div id="covid-19" class="floating-section">
    <h2>COVID-19 UPDATE: Road Ride/Virtual Challenge</h2>
    <p>
      Because of COVID-19 concerns, we won't be holding a mass start bicycle race this year. However in lieu of the race
      we are holding the Dick Evans Memorial Road Ride/Virtual Challenge on the same date: Sunday August 29th between
      5:45 a.m. and 1:00 p.m.. The virtual challenge is based on <strong>moving time</strong>, allowing riders to safely
      stop for all traffic signals without impacting their time, as well as stop for refreshments as needed. The
      <a href="https://www.strava.com/segments/28990637">challenge segment</a> is a subset of the traditional route
      starting on Kunia Rd. after the end of the neutral section. To compete in the challenge you must start the segment
      no earlier than 5:45 a.m., and complete the segment by 1:00 p.m.</p>
    <p>To register, sign up on <a href="https://www.bikereg.com/demrr-2021">BikeReg</a>, and then <strong>follow the
      registration instructions in the BikeReg confirmation email.</strong> To be eligible for prizes, your ride must be
      uploaded to Strava, or you must upload a GPX file on
      <a href="https://challenge.asbra.org/challenge/dick-evans-rr-2021">challenge.asbra.org</a> no later than 1 p.m. on
      Sunday.</p>
    <p>
      </p>
  </div>
  <div id="group-ride" class="floating-section">
    <p>While participants may ride the segment at an time during the challenge window, we will also be leading a group
      ride through an entire 112 mile loop from Hawaii Kai. The official start time for the group ride is 5:45 a.m.
      departing from the shopping center in Kalama Valley at 501 Kealahou St. From there we will be riding unsupported,
      and at a neutral, no-drop pace, to the Royal Kunia Park &amp; Ride (94-711 Kupuna Loop, Waipahu, HI). There we
      we will regroup, take on supplies from the nearby Circle K, and roll out as a group around 8a.m. (exact time
      will depend on when the group arrives from Hawaii Kai). From there we will follow the traditional DEMRR course.
      Planned regroup and water stops are to be announced. The entire route can be viewed
      <a href="https://www.strava.com/routes/2846289230733483102">on Strava</a>.</p>
  </div>
  <div id="ride-details" class="floating-section">
    <h2>Important Details</h2>
    <p>
      <strong>Route: </strong> See the <a href="https://www.strava.com/segments/28990637">"Dick Evans Memorial Road Race
      from Kunia" Segment on Strava</a>. It is a subset of the traditional road race course starting from Kunia Rd.
      (<a href="#course-description">details below</a>).</p>
    <p>
      <strong>Time: </strong> Sunday, August 30th. The official roll out time from Hawaii Kai is 5:45 a.m. However, you
      can start your ride from Kunia Rd any time after 5:45 a.m. You must finish your ride by 1 p.m. to be eligible for
      prizes.</p>
    <h3>Ride Instructions</h3>
    <ul>
      <li>This is an unsupported ride. Carry or plan to stop for your own supplies.</li>
      <li>There will be no police escort. Obey all traffic laws and observe all traffic signals.</li>
      <li>This is a ride, not a race.</li>
      <li>The leaderboard will be based on moving time (enable auto-pause on your GPS).</li>
      <li>Be safe and have fun!</li>
    </ul>
  </div>
  <div id="course-description" class="floating-section">
    <h2>Course Description</h2>
    <a href="#segment-description">Jump to Challenge Segment Description</a>
    <h3>Group Ride</h3>
    <a href="../images/demrr-route/Route%20Overview.png">
      <img id="course-map"
           src="../images/demrr-route/Route%20Overview.png"
           width="400" height="400"
           alt="DEMRR Solo Route Map"
           class="center-block fit-width"/>
    </a>
    <ul>
      <li>The route starts heading west on Hawaii Kai Dr. from Kealahou St in Kalama Valley.</li>
      <li>Turn Left at the bottom of the hill onto Lunalilo Home Rd (Traffic Light).</li>
      <li>Turn Right on Kalanianaole Hwy (Traffic Light).</li>
      <li>Take the Ramp for Kilauea Ave (Exit 27), do not get on H1.</li>
      <li>Turn Left on Kilauea Ave (Traffic Light).</li>
      <li>Turn Left on 18th Ave (Traffic Light).</li>
      <li>Turn Right on Diamond Head Rd (Stop Sign).</li>
      <li>Turn Right on Paki Ave (Traffic Light).</li>
      <li>Turn Left on Niu St.
        <ul>
          <li>CAUTION: This is one block before the McCully traffic light, watch for traffic when moving left.</li>
        </ul>
      </li>
      <li>Proceed Straight through the traffic light onto Ala Moana Blvd.</li>
      <li>Take Nimitz Highway out to the Airport</li>
      <li>Feel free to use the bike path on the right side of Nimitz starting from Puuloa Rd if desired.</li>
      <li><span style="color:#B22222">At Nimitz Highway and Valkenburgh St take the bike path to the North West.</span>
        <ul>
          <li><span style="color:#B22222">Do not continue onto the highway. <strong>This is a deviation from the standard race route.</strong></span>
          </li>
        </ul>
      </li>
      <li><span style="color:#B22222">Turn Left on Radford Dr (Traffic Light)</span>
        <ul>
          <li><span style="color:#B22222">Use the pedestrian signal when crossing at this light.</span></li>
        </ul>
        <a href="../images/demrr-route/Nimitz%20Bike%20Path.png" class="route-detail-image"><img src="../images/demrr-route/Nimitz%20Bike%20Path.png" width="340" height="340" alt="Nimitz Bike Path Route" /></a>
      </li>
      <li>Turn Right on Kamehameha Hwy (Traffic Light).</li>
      <li>Keep Left toward 99 West Pearl City.</li>
      <li><span style="color:#B22222">Turn Left on McGrew Loop/Honomanu St.</span>
        <ul>
          <li><span style="color:#B22222"><strong>This is a deviation from the standard race route.</strong></span></li>
        </ul>
        <a href="../images/demrr-route/Bike%20Path%20Entrance.png" class="route-detail-image"><img src="../images/demrr-route/Bike%20Path%20Entrance.png" width="340" height="340" alt="Pearl Harbor Bike Path Entrance" /></a>
      </li>
      <li><span style="color:#B22222">Immediately Turn Right onto the Pearl Harbor Bike Path.</span></li>
      <li><span style="color:#B22222">Take The Pearl Harbor Bike Path to its end at Waipahu Depot Rd.</span></li>
      <li><span style="color:#B22222">Turn Right on Waipahu Depot Rd.</span></li>
      <li><span style="color:#B22222">Continue straight on Waipahu Depot Rd. across Farrington Hwy.</span></li>
      <li><span style="color:#B22222">Turn Right on Pupupuhi St/Waikele Rd (Traffic Light).</span>
        <a href="../images/demrr-route/Farrington%20to%20Kunia%20Road.png" class="route-detail-image"><img src="../images/demrr-route/Farrington%20to%20Kunia%20Road.png" width="500" height="225" alt="Farrington Hwy to Kunia Rd via back roads." /></a>
      </li>
      <li><span style="color:#B22222">Turn Right on Honowai St (Traffic Light).</span></li>
      <li><span style="color:#B22222">Turn Right on Loaa St.</span></li>
      <li><span style="color:#B22222">Immediately Turn Left on Aiki St (Stop Sign).</span></li>
      <li><span style="color:#B22222">Turn Left on Kupuna Loop (Stop Sign).</span></li>
      <li><span style="color:#B22222">Turn Right on Kupuohi St</span></li>
      <li><span style="color:#B22222">Regroup at Royal Kunia Park &amp; Ride at Kupuohi St &amp; Kupuna Loop.</span></li>
    </ul>
    <h3><a name="segment-description">Segment Route</a></h3>
    <ul>
      <li>Head North on Kunia Rd.</li>
      <li>Segment Starts just past Anonui St.</li>
      <li>Turn Left on Wilikina Dr/HI-99 (Traffic Light).</li>
      <li>Turn Right on Kamananui Rd/HI-99 (Right Fork Before Traffic Light).</li>
      <li>Turn Left on Kamehameha Hwy (Traffic Light).</li>
      <li>&nbsp;. . . 47 Miles Later</li>
      <li>Turn Left on Kulukeoe St (Traffic Light).</li>
      <li>Turn Right on Keneke St (Stop Sign).</li>
      <li>Turn Left to stay on Keneke St (Stop Sign).</li>
      <li>Turn Right on Anoi Rd (Stop Sign).</li>
      <li>Turn Left on Likelike Hwy (Traffic Light).</li>
      <li>Turn Right on Kapaa Quarry Rd (Traffic Light).</li>
      <li>Turn Left on Kalanianaole Hwy (Traffic Light).</li>
      <li>Turn Right to stay on Kalanianaole Hwy (Traffic Light).</li>
      <li><strong>Proceed Straight on Kalanianaole Hwy past Old Kalanianaole Rd.</strong></li>
      <li><strong>Turn Right on Old Kalanianaole Rd at the bottom of the hill.</strong></li>
      <li><strong>
        Proceed 1.6 Miles up Old Kalanianaole Rd and U-Turn at the <a href="https://goo.gl/maps/7j1JqyN7LJb1CGPWA">
        Entrance to the Road Maintenance Facility</a>.
      </strong></li>
      <li>Turn Right on Kalanianaole Hwy (Stop Sign).</li>
      <li>
        <p>Turn Right on Kumuhau St (Waimanalo Back Roads).</p>
        <a href="../images/demrr-route/Waimanalo%20Back%20Roads.png" class="route-detail-image">
          <img src="../images/demrr-route/Waimanalo%20Back%20Roads.png" width="500" height="250" alt="Waimanalo Back Roads" />
        </a>
      </li>
      <li>Turn Left on Waikupanaha St (Stop Sign).</li>
      <li>Turn Left on Ahiki St.</li>
      <li>Turn Right on Hihimanu St (Stop Sign).</li>
      <li>Proceed Straight Through the Stop Sign at Oluolu st. <strong>Caution: Cross Traffic Does Not Stop!</strong>.
      </li>
      <li>Turn Right on Kalanianaole Hwy (Stop Sign).</li>
      <li>Turn Right on Kealahou St (Traffic Light).</li>
      <li>Finish just before the Stop Sign with Hawaii Kai Dr.</li>
    </ul>
  </div>
  <div id="awards" class="floating-section">
    <h2>Awards</h2>
    <p>We will have a post-ride gathering with snacks and drinks at Kalama Valley Community Park. Official results will
      be announced online.</p>
  </div>
  <div id="contact" class="floating-section">
    <h2>Contact</h2>
    <p>Questions? Comments? Call: Carl Brooks <a href="tel:808-375-0979">808-375-0979</a> or Email <a
            href="mailto:outtaboundshawaii@gmail.com">OuttaBoundsHawaii@gmail.com</a>.
  </div>
</div>
