/*---
layout: full-page-background.hbs
permalink: races/dick-evans-memorial-road-race.html
title: Dick Evans Memorial Road Race
head: |
  <style>
    #page-background {
      background: url('../images/DickEvans.jpg') no-repeat;
      background-size: cover;
      background-position: top center;
      opacity: 0;
      z-index: -1;
    }

    #course-map {
      max-height: 80vh;
    }
  </style>
---*/

<div>
  <h4 class="center-heading title mobile-right-align"><a href="index.html">Races</a> ></h4>
  <h1 class="center-heading title mobile-right-align">2022 Dick Evans Memorial Road Race</h1>
</div>
<div class="sections">
  <div id="race-overview" class="floating-section">
    <h2>DEMRR</h2>
    <h3>Sunday August 28, 2022</h3>
    <p>The pinnacle of the Hawaii bike racing season, the Dick Evans Memorial Road Race follows a route similar to the original Around Oahu Race. Its distance, 112 miles, is the basis for the Iron Man distance Triathlon. This race is held annual in memorial to Hawaii cycling great Dick Evans.</p>
    <p>Race starts at Kalama Valley Shopping Center and proceeds at a neutral, controlled pace
      through Waikiki, Downtown, Pearl City, and Waipahu. Neutral zone ends as the race proceeds
      onto Kunia road. Route follows the main highway to Haleiwa, along the North Shore and back
      to the start via Kaneohe, Waimanalo, and Hawaii Kai. There is a moving police enclosure for
      the main peloton. Cyclists that fall out of the peloton must obey all traffic rules and
      regulations. Aid Stations are provided at the top of the Kunia Road climb, in Kahuku, Temple
      Valley, and at Olomana. Riders of all levels are welcome. A support vehicle is not guaranteed
      to be able to transport those unable to complete the course. LIMITED mechanical, wheel, and
      sag wagon support is provided.</p>
  </div>
  <div id="course-description" class="floating-section">
    <h2>Course Description</h2>
    <a href="../images/demrr-route/Route%20Overview.png">
      <img id="course-map"
           src="../images/demrr-route/Route%20Overview.png"
           width="400" height="400"
           alt="DEMRR Route Map"
           class="center-block fit-width"/>
    </a>
    <ul>
      <li>The race rolls out in a neutral group from the Kalama Valley shopping center.</li>
      <li>Turn Right onto Hawaii Kai Dr.</li>
      <li>Turn Left at the bottom of the hill onto Lunalilo Home Rd (Traffic Light).</li>
      <li>Turn Right on Kalanianaole Hwy (Traffic Light).</li>
      <li>Take the Ramp for Kilauea Ave (Exit 27), do not get on H1.</li>
      <li>Turn Left on Kilauea Ave (Traffic Light).</li>
      <li>Turn Left on 18th Ave (Traffic Light).</li>
      <li>Turn Right on Diamond Head Rd (Stop Sign).</li>
      <li>Turn Right on Paki Ave (Traffic Light).</li>
      <li>Turn Left on Niu St.
        <ul>
          <li>CAUTION: This is one block before the McCully traffic light, watch for traffic when moving left.</li>
        </ul>
      </li>
      <li>Proceed Straight through the traffic light onto Ala Moana Blvd.</li>
      <li>Take Nimitz Highway out to the Airport</li>
      <li>Take the on ramp to Kamehameha Hwy (Traffic Light).</li>
      <li>Keep Left toward 99 West Pearl City.</li>
      <li>&nbsp;. . . 3 Miles Later</li>
      <li>Keep Left to take the ramp onto Farrington Hwy.</li>
      <li>Turn Right on Kunia Rd.</li>
      <li><strong>Neutral Section Ends. RACE START.</strong></li>
      <li>Segment Starts just past Anonui St.</li>
      <li>Turn Left on Wilikina Dr/HI-99 (Traffic Light).</li>
      <li>Turn Right on Kamananui Rd/HI-99 (Right Fork Before Traffic Light).</li>
      <li>Turn Left on Kamehameha Hwy (Traffic Light).</li>
      <li>&nbsp;. . . 47 Miles Later</li>
      <li>Turn Left on Kulukeoe St (Traffic Light).</li>
      <li>Turn Right on Keneke St (Stop Sign).</li>
      <li>Turn Left to stay on Keneke St (Stop Sign).</li>
      <li>Turn Right on Anoi Rd (Stop Sign).</li>
      <li>Turn Left on Likelike Hwy (Traffic Light).</li>
      <li>Turn Right on Kapaa Quarry Rd (Traffic Light).</li>
      <li>Turn Left on Kalanianaole Hwy (Traffic Light).</li>
      <li>Turn Right to stay on Kalanianaole Hwy (Traffic Light).</li>
      <li><strong>Proceed Straight on Kalanianaole Hwy past Old Kalanianaole Rd.</strong></li>
      <li><strong>Turn Right on Old Kalanianaole Rd at the bottom of the hill.</strong></li>
      <li><strong>
        Proceed 1.6 Miles up Old Kalanianaole Rd and U-Turn at the <a href="https://goo.gl/maps/7j1JqyN7LJb1CGPWA">
        Entrance to the Road Maintenance Facility</a>.
      </strong></li>
      <li>Turn Right on Kalanianaole Hwy (Stop Sign).</li>
      <li>
        <p>Turn Right on Kumuhau St (Waimanalo Back Roads).</p>
        <a href="../images/demrr-route/Waimanalo%20Back%20Roads.png" class="route-detail-image">
          <img src="../images/demrr-route/Waimanalo%20Back%20Roads.png" width="500" height="250" alt="Waimanalo Back Roads" />
        </a>
      </li>
      <li>Turn Left on Waikupanaha St (Stop Sign).</li>
      <li>Turn Left on Ahiki St.</li>
      <li>Turn Right on Hihimanu St (Stop Sign).</li>
      <li>Proceed Straight Through the Stop Sign at Oluolu st. <strong>Caution: Cross Traffic Does Not Stop!</strong>.
      </li>
      <li>Turn Right on Kalanianaole Hwy (Stop Sign).</li>
      <li>Turn Right on Kealahou St (Traffic Light).</li>
      <li>Finish just before the Stop Sign with Hawaii Kai Dr.</li>
    </ul>
  </div>
  <div id="details" class="floating-section">
    <h2>Details</h2>
    <p>Registration and schedule details to be announced.</p>
  </div>
  <div id="awards" class="floating-section">
    <h2>Awards</h2>
    <p>Official results will be announced, and awards handed out, after the race at Kalama Valley Shopping Center (501 Kealahou St).</p>
  </div>
  <div id="contact" class="floating-section">
    <h2>Contact</h2>
    <p>Questions? Comments? Call: Carl Brooks <a href="tel:808-375-0979">808-375-0979</a> or Email <a
            href="mailto:outtaboundshawaii@gmail.com">OuttaBoundsHawaii@gmail.com</a>.
  </div>
</div>
