/*---
layout: full-page-background.hbs
title: Outta Bounds Sponsored Races
head: |
  <style>
    #page-background {
      background: url('../images/Haleakala.jpg') no-repeat;
      background-size: cover;
      background-position: top center;
      opacity: 0;
      z-index: -1;
    }
  </style>
---*/

<div class="heading">
  <h1 class="center-heading title mobile-right-align">Outta Bounds Sponsored Races</h1>
</div>
<div class="sections">
  <div id="intro" class="floating-section">
    <p>
      Outta Bounds Race Team, along with other clubs and bike shops in Hawaii, put on a series of USAC road races throughout the season. A full calendar can be found on the <a href="http://www.asbra.org/calendar/">Aloha State Bicycle Racing Association website</a>. Most races can be also be found and registered for on the <a href="https://www.usacycling.org/events?type=ROAD&state=HI" target="_blank">USA Cycling website</a>.
    </p>
  </div>
  <div id="race_list" class="floating-section">
    <ul>
      <li>
        <h3><a href="../races/castle-to-hanauma.html">Castle to Hanauma Bay TT</a></h3>
        <p>The Castle  to Hanauma Bay TT is a 20K point to point individual time trial from Kailua to Hanauma Bay.</p>
        <p><a href="https://challenge.asbra.org/challenge/castle-to-hanauma-2021">2021 Results</a></p>
        <p><a href="https://strava.outtaboundshawaii.com/challenge/castle_to_hanauma">2020 Results</a></p>
        <p><a href="https://www.webscorer.com/race?raceid=172323" target="_blank">2019 Results</a></p>
        <p>Sponsored by <a href="https://kalapawaimarket.com/" target="_blank">Kalapawai Cafe</a> and <a href="https://www.bikefactoryhawaii.com/" target="_blank">BIKEFACTORY Hawaii</a>.</p>
      </li>
      <li>
        <h3><a href="../races/pineapple-hill-road-race.html">Pineapple Road Race</a></h3>
        <p>The Pineapple Hill Road Race consists of multiple clockwise laps from the top of Pineapple Hill to Haleiwa.</p>
        <p><a href="https://challenge.asbra.org/challenge/pineapple-hill-rr-2021">2021 Results</a></p>
        <p><a href="https://strava.outtaboundshawaii.com/challenge/pineapple_hill" target="_blank">2020 Results</a></p>
        <p><a href="https://www.webscorer.com/race?raceid=185086" target="_blank">2019 Results</a></p>
        <p>Sponsored by <a href="https://kalapawaimarket.com/" target="_blank">Kalapawai Cafe</a> and <a href="https://www.bikefactoryhawaii.com/" target="_blank">BIKEFACTORY Hawaii</a>.</p>
      </li>
      <li>
        <h3><a href="../races/dick-evans-memorial-road-race.html">Dick Evans Memorial Road Race</a></h3>
        <p>The DEMRR is the longest and most storied race in Hawaii. It follows a 112 mile loop around the eastern half of Oahu that dates back to the Around Oahu Race, and became the benchmark for the road bike distance of the Iron Man Triathlon.</p>
        <p><a href="https://challenge.asbra.org/challenge/dick-evans-rr-2021">2021 Results</a></p>
        <p><a href="https://strava.outtaboundshawaii.com/challenge/demrr2020">2020 Results</a></p>
        <p><a href="https://www.webscorer.com/race?raceid=192366" target="_blank">2019 Results</a></p>
        <p>Sponsored by <a href="https://kalapawaimarket.com/" target="_blank">Kalapawai Cafe</a>.</p>
      </li>
    </ul>
  </div>
  <!-- TODO: update this
  <div id="calendar" class="floating-section">
    <div class="horizontal-scroll-container">
      <iframe src="https://calendar.google.com/calendar/b/1/embed?showPrint=0&amp;showTabs=0&amp;showCalendars=0&amp;height=600&amp;wkst=1&amp;bgcolor=%23FFFFFF&amp;src=n0l51n7d8k1akv9mn1971i03ek%40group.calendar.google.com&amp;color=%23691426&amp;ctz=Pacific%2FHonolulu"
              style="border-width:0"
              width="600"
              height="600"
              frameborder="0"
              scrolling="no"
              class="center-block">
      </iframe>
    </div>
  </div>
  -->
</div>
