/*---
layout: full-page-background.hbs
permalink: races/pineapple-hill-road-race.html
title: Pineapple Hill Road Race
head: |
  <style>
    #page-background {
      background: url('../images/PineappleHill.jpg') no-repeat;
      background-size: cover;
      background-position: top center;
      opacity: 0;
      z-index: -1;
    }

    #course-map {
      max-height: 80vh;
    }
  </style>
---*/

<div>
  <h4 class="center-heading title mobile-right-align"><a href="index.html">Races</a> ></h4>
  <h1 class="center-heading title mobile-right-align">Pineapple Hill Road Race</h1>
</div>
<div class="sections">
  <div id="covid-19" class="floating-section">
    <h2>COVID-19 UPDATE: VIRTUAL EVENT</h2>
    <p>
      Because it is not currently possible to obtain street use permits we are unable to host a mass start bike race. We will, however, be holding a casual group ride and virtual challenge on Saturday June 12th, starting from Green World Farms at 7:00 a.m..
    </p>
  </div>
  <div id="intro" class="floating-section">
    <h2>Virtual Challenge: Saturday June 12, 2021</h2>
    <h3>Course Description</h3>
    <p>
      The start line is at Kaukonahua Road near Wilikina Drive. Racers will travel in a clockwise direction heading west toward Kaukonahua Road and Wilikina Drive. Right at Kaukonahua road and descend to Thompson Corner. Right at Thompson Corner (Kaukonahua Rd.), Right at Weed Circle, Right at Kamehameha Highway, Right at Kaukonahua Road (AKA flashing light), continue to start/finish. Competitors are challenged to ride as many laps as they can during the challenge window. The challenge leaderboard will be based on number of laps, followed by average lap time between riders who complete the same number of laps. For full course details see the Pineapple RR Loop. All participants must register on <a href="https://www.bikereg.com/pineapple-hill-rr-2021" target="">BikeReg</a> to be eligible for prizes. To compete simply ride one or more laps of the course on Saturday June 12th between 7:30 and 10:30 A.M., record your ride with a GPS tracker, and either register with us using Strava, or upload you ride data to our website (<a href="https://challenge.asbra.org/">https://challenge.asbra.org/</a> details to be provided). <strong>IMPORTANT</strong>: this ride is completely unsupported and you must follow the rules of the road and observe all traffic signage. The feed zone is allowed on the right side of the road before the start/finish. No neutral feed. Each team is responsible for feeding their own riders. Please watch out for pedestrians, cars, stray dogs, etc. Stay safe and healthy out there.
    </p>
    <a href="../images/Pineapple%20Hill%20Road%20Race%20Map.png">
      <img id="course-map"
           src="../images/Pineapple%20Hill%20Road%20Race%20Map.png"
           width="540" height="450"
           alt="Pineapple Hill Road Race Course Map"
           class="center-block fit-width" />
    </a>
  </div>
  <div id="registration" class="floating-section">
    <h2>Registration: $10</h2>
    <p>Registration will be available via the following:</p>
    <ul>
      <li>Online @ <a href="https://www.bikereg.com/pineapple-hill-rr-2021" target="">BikeReg</a></li>
      <li>Registration <strong>Closes</strong> Friday, June 11th @ 11:59 HST</li>
    </ul>
    <p><em>
      All participants must sign the USA Cycling Event Release form when registering.
    </em></p>
  </div>
  <div id="parking" class="floating-section">
    <h2>Parking</h2>
    <p>
      <strong>Please do not park around the start-finish line!</strong> We suggest you park on Kamananui Rd around the entrance to Green World Farms. Please reserve the parking lot for Café customers.
    </p>
  </div>
  <!--
  <div id="packet-pickup" class="floating-section">
    <h2>Packet Pickup</h2>
    <p>
      Location TBD<br />
      Friday June 12, 2019 - 3:00-6:00pm
    </p>
  </div>
  <div id="race-schedule" class="floating-section">
    <h2>Race Day Schedule</h2>
    <ul>
      <li>6:30 - Late Registration & Packet Pickup Opens</li>
      <li>7:00 - Late Registration <strong>closed</strong></li>
      <li>7:15 - Rider Meeting</li>
      <li>7:25 - All Riders line up at Start</li>
      <li>7:30 - First Wave Start (see below)</li>
      <li>Approximately 10:30 - Award Ceremony</li>
    </ul>
  </div> -->
  <div id="categories" class="floating-section">
    <h2>Categories</h2>
    <table>
      <thead>
      <tr><td>Category</td><td>Age Range</td></tr>
      </thead>
      <tbody>
      <tr><td>Men, Juniors</td><td>16-18</td></tr>
      <tr><td>Women, Juniors</td><td>16-18</td></tr>
      <tr><td>Men, U23</td><td>19-22</td></tr>
      <tr><td>Women, U23</td><td>19-22</td></tr>
      <tr><td>Men, Senior</td><td>23-34</td></tr>
      <tr><td>Women, Senior</td><td>23-34</td></tr>
      <tr><td>Men, Master</td><td>35-49</td></tr>
      <tr><td>Women, Master</td><td>35-49</td></tr>
      <tr><td>Men, Golden Master</td><td>50-59</td></tr>
      <tr><td>Women, Golden Master</td><td>50-59</td></tr>
      <tr><td>Men, Golden Master 60s</td><td>60-69</td></tr>
      <tr><td>Women, Golden Master 60s</td><td>60-69</td></tr>
      <tr><td>Men, Golden Master 70+</td><td>70+</td></tr>
      <tr><td>Women, Golden Master 70+</td><td>70+</td></tr>
      </tbody>
    </table>
    <p>
      The race director reserves the right to combine categories depending on level of participation.
    </p>
  </div>
  <div id="awards" class="floating-section">
    <h2>Awards</h2>
    <p>Gift cards will be awarded to the top 3 places in each categories. Awards will be announced after the event and gift cards handed out at Green World Coffee at 11:00 a.m.</p>
  </div>
  <div id="contact" class="floating-section">
    <h2>Contact</h2>
    <p>Questions? Comments? Call: Paul Wheeler <a href="tel:808-600-3598">(808) 600-3598</a> or Email <a href="mailto:paul@asbra.org">paul@asbra.org</a>.
  </div>
</div>
