/*---
layout: full-page-background.hbs
permalink: races/pineapple-hill-road-race.html
title: Pineapple Hill Road Race
head: |
  <style>
    #page-background {
      background: url('../images/PineappleHill.jpg') no-repeat;
      background-size: cover;
      background-position: top center;
      opacity: 0;
      z-index: -1;
    }

    #course-map {
      max-height: 80vh;
    }
  </style>
---*/

<div>
  <h4 class="center-heading title mobile-right-align"><a href="index.html">Races</a> ></h4>
  <h1 class="center-heading title mobile-right-align">Pineapple Hill Road Race</h1>
</div>
<div class="sections">
  <div id="intro" class="floating-section">
    <h2>Sunday June 12, 2022</h2>
    <p>The Pineapple Hill Road Race is held as a memorial to our good friend and Greg Jochem (1958 - 2021).</p>
    <h3>Course Description</h3>
    <p>
        The start line is at Kaukonahua Road near Wilikina Drive. Racers will travel in a clockwise direction heading west toward KaukonahuaRoad and Wilikina Drive. Right on Kaukonahua Rd. and descend to Thompson Corner. Right at Thompson Corner (stop sign, Kaukonahua Rd.), Right at the traffic circle, Right on Kamehameha Highway, Right at the Fork onto Kamananui Rd, Right on Kaukonahua Rd. (traffic light), continue to start/finish. The feed zone is allowed on the right side of the road before the start/finish. No neutral feed. Each team is responsible for feeding their own riders.
    </p>
    <a href="../images/Pineapple%20Hill%20Road%20Race%20Map.png">
      <img id="course-map"
           src="../images/Pineapple%20Hill%20Road%20Race%20Map.png"
           width="540" height="450"
           alt="Pineapple Hill Road Race Course Map"
           class="center-block fit-width" />
    </a>
  </div>
  <div id="registration" class="floating-section">
    <h2>Registration: $50 (Juniors: $25)</h2>
    <h3><em>Late registration, on/after June 6th: $60 (Juniors: $30)</em></h3>
    <p>Registration will be available via the following:</p>
    <ul>
      <li>Online @ <a href="http://www.bikereg.com/pineapple-hill-rr" target="">BikeReg</a></li>
      <li>In Person Saturday, June 11th 1-3pm, Triangle Park.</li>
    </ul>
    <p><em>
      All participants must sign the USA Cycling Event Release form, and have a valid USAC License.
    </em></p>
  </div>
  <div id="packet-pickup" class="floating-section">
    <h2>Packet Pickup</h2>
    <p>
      Triangle Park (Fort Ruger Park)<br />
      Saturday June 11, 2022 - 1:00-3:00pm
    </p>
  </div>
  <div id="race-schedule" class="floating-section">
    <h2>Race Day Schedule</h2>
    <ul>
      <li>6:30 A.M. Late check-in/packet pickup at the start/finish line</li>
      <li>7:00 A.M. Late check-in <strong>closes</strong>. Rider meeting at the start/finish line</li>
      <li>7:30 A.M. Race starts. Note: race starts in 3 waves; Make sure you start in the right wave for your category.</li>
      <li>~11:00 A.M. Post race awards.</li>
    </ul>
  </div>
  <div id="categories" class="floating-section">
    <h2>Categories</h2>
    <table>
      <thead>
      <tr><td>Category</td><td>Age Range</td></tr>
      </thead>
      <tbody>
      <tr><td>Men, Juniors</td><td>16-18</td></tr>
      <tr><td>Women, Juniors</td><td>16-18</td></tr>
      <tr><td>Men, U23</td><td>19-22</td></tr>
      <tr><td>Women, U23</td><td>19-22</td></tr>
      <tr><td>Men, Senior</td><td>23-34</td></tr>
      <tr><td>Women, Senior</td><td>23-34</td></tr>
      <tr><td>Men, Master</td><td>35-49</td></tr>
      <tr><td>Women, Master</td><td>35-49</td></tr>
      <tr><td>Men, Golden Master</td><td>50-59</td></tr>
      <tr><td>Women, Golden Master</td><td>50-59</td></tr>
      <tr><td>Men, Golden Master 60s</td><td>60-69</td></tr>
      <tr><td>Women, Golden Master 60s</td><td>60-69</td></tr>
      <tr><td>Men, Golden Master 70+</td><td>70+</td></tr>
      <tr><td>Women, Golden Master 70+</td><td>70+</td></tr>
      </tbody>
    </table>
    <p>
      The race director reserves the right to combine categories depending on level of participation.
    </p>
  </div>
  <div id="awards" class="floating-section">
    <h2>Awards</h2>
    <p>Gift cards will be awarded to the top 3 places in each categories. Awards will be announced after the event and gift cards handed out at Green World Coffee at 11:00 a.m.</p>
  </div>
  <div id="contact" class="floating-section">
    <h2>Contact</h2>
    <p>Questions? Comments? Call: Paul Wheeler <a href="tel:808-600-3598">(808) 600-3598</a> or Email <a href="mailto:paul@asbra.org">paul@asbra.org</a>.
  </div>
</div>
